<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/searches" method="POST">
        Search:<br />
        <input name="searchBy" type="radio" value="title"> title<br />
        <input name="searchBy" type="radio" value="author"> author<br />
        For:
        <input type="text" name="searchTerm">
        <input type="submit" name="SearchSubmit" value="Search">
    </form>
</body>

</html>